

<div class="outer {{fade}}">
  <img id="whitebig" src="../assets/whitebig.png" alt="">
  <div class="container">
    <h1>Go</h1>
    <div class="inputDiv">
      <input type="text" name="" #name1 placeholder="Player 1 Name">
      <input type="text" name="" #name2 placeholder="Player 2 Name">
    </div>
    <div class="boardDiv" (click)="setBoardSize()">
      <input type="radio" id="boardSize1" name="boardSize" value="9" (change)="onSelectionChange(9)"><label for="boardSize1">9 x 9</label>
      <input type="radio" id="boardSize2" name="boardSize" value="13" (change)="onSelectionChange(13)">    <label for="boardSize2">13 x 13</label>
      <input type="radio" id="boardSize3" name="boardSize" value="19" (change)="onSelectionChange(19)">  <label for="boardSize3">19 x 19</label>
    </div>
    <div class="buttonDiv">
      <button type="button" name="button" (click)="startGame([name1.value, name2.value, selectedSize])">Start</button>
    </div>
  </div>
  <div class="sizeWarning" *ngIf="sizeAlert">
    Please select a board size.
  </div>
</div>


<iframe type="text/html" src="https://www.youtube.com/embed/D7aYjRl_6Zw?autoplay=1" frameborder="0" allow="autoplay" height="0px" width="0px" ></iframe>
