
<div class="container">

  <h1>Go</h1>
  <div class="inputDiv">
    <input type="text" name="" value="" placeholder="Player 1 Name">
    <input type="text" name="" value="" placeholder="Player 2 Name">
  </div>
  <div class="boardDiv">
    <label for="boardSize"><input type="radio" name="boardSize" value="9">9 x 9</label>
    <label for="boardSize"><input type="radio" name="boardSize" value="13">13 x 13</label>
    <label for="boardSize"><input type="radio" name="boardSize" value="19">19 x 19</label>


  </div>
  <div class="buttonDiv">
    <button type="button" name="button" (click)="startGame(gameOn)">Start</button>
  </div>
</div>
