html {
  width: 100%;
}
app-board-ui {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.players{
  display:flex;
  justify-content: space-between;
}

/* .rootContainer {
  padding: 40px;
  margin: auto;
  max-width: 1200px;
  min-width: 1200px;
} */
