
  <div class="boardColor{{size}} fadeIn">
    <div class="boardGrid" [ngStyle]="{'grid-template': 'repeat(' + size + ', 40px)/ repeat(' + size + ',40px)'}">
      <div *ngFor="let row of rows">
        <div *ngFor="let column of columns" class="vertex">
          <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
              <g id="Artboard" stroke="#000000" stroke-width="1.5">
                <polyline id="Line-2" points="0 20 26.8081771 20 39.5891048 20"></polyline>
                <polyline id="Line-2" points="20 40 20 17.3419298 20 0.386211284"></polyline>
              </g>
            </g>
          </svg>
        </div>
      </div>
      <div *ngIf="size === 9">
        <span class="dot1" style="">

        </span>
      </div>
      <div *ngFor="let arrayAtX of testGame.gameState; let i = index">
        <div *ngFor="let pieceAtY of testGame.gameState[i], let j = index">
            <div *ngIf="pieceAtY == 'white'" [ngStyle]="{'grid-row-start': (i + 1), 'grid-column-start': (j + 1)}" class="stone piece">
              <img src="../assets/whiteStone.png" alt="">
            </div>
            <div *ngIf="pieceAtY == 'black'" [ngStyle]="{'grid-row-start': (i + 1), 'grid-column-start': (j + 1)}" class="stone piece">
              <img src="../assets/blackStone.png" alt="">
            </div>
            <div *ngIf="pieceAtY == null" [ngStyle]="{'grid-row-start': (i + 1), 'grid-column-start': (j + 1)}" class="empty" (click)="placeStone([i,j])">
              <div *ngIf="testGame.activePlayer == 'black'">
                <img src="../assets/blackStone.png" alt="">
              </div>
              <div *ngIf="testGame.activePlayer == 'white'">
                <img src="../assets/whiteStone.png" alt="">
              </div>
            </div>
        </div>
      </div>
      <div *ngIf="size == 9">
        <div *ngFor="let dot of dotPosition[0]" class="dotContainer">
          <div class="dot" [ngStyle]="{'grid-row-start': dot[0], 'grid-column-start': dot[1]}">
          </div>
        </div>
      </div>
      <div *ngIf="size == 13">
        <div *ngFor="let dot of dotPosition[1]" class="dotContainer">
          <div class="dot" [ngStyle]="{'grid-row-start': dot[0], 'grid-column-start': dot[1]}">
          </div>
        </div>
      </div>
      <div *ngIf="size == 19">
        <div *ngFor="let dot of dotPosition[2]" class="dotContainer">
          <div class="dot" [ngStyle]="{'grid-row-start': dot[0], 'grid-column-start': dot[1]}">
          </div>
        </div>
      </div>



    </div>
    <div class="whiteBorder{{size}}">
    </div>
  </div>
  <div class="playerInfo">
    <app-player-ui [player]="'white'"></app-player-ui>
    <div class="passContainer">
      <div class="passButtonWhiteContainer" [ngStyle]="{'animation': animationReset + ' 2s ease-in-out', 'animation-direction': directionToggle, 'animation-fill-mode': fillToggle}">
        <div class="passButtonWhite">
          <p>Pass</p>
        </div>
      </div>
      <div class="passButtonBlack">
        <p>Pass</p>
      </div>
    </div>
    <app-player-ui [player]="'black'"></app-player-ui>
  </div>
