* {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}

.boardGrid {
  display: grid;
  height: 40px;
  width: 40px;
  position: relative;
  top: -19px;
  left: -19px;
  cursor: grab;
}

.boardGrid .stone, .boardGrid .vertex{
  height: 40px;
  width: 40px;
}



.boardColor9{
  position: relative;
  background-color: #e4bc6f;
  height: 322px;
  width: 322px;
  margin: auto;
  margin-top: 40px;
}

.piece {
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 2;
}

.empty {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  opacity: 0;
  height: 40px;
  width: 40px;
}

.empty:hover {
  opacity: .6;
  cursor: grabbing;
}

.whiteBorder{
  position: absolute;
  top: -24px;
  left: -24px;
  z-index: 1;
  border: 24px solid #e4bc6f;
  width: 322px;
  height: 322px;
  outline: 1px solid black;
  pointer-events: none;
}

.dot{
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 1;
}
