* {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 3s 1;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}


.boardGrid {
  display: grid;
  height: 40px;
  width: 40px;
  position: relative;
  top: -19px;
  left: -19px;
  cursor: grab;
}

.boardGrid .stone, .boardGrid .vertex{
  height: 40px;
  width: 40px;
}


.boardColor9{
  position: relative;
  background-color: #e4bc6f;
  height: 322px;
  width: 322px;
  margin: auto;
  margin-top: 40px;
}

.boardColor13{
  position: relative;
  background-color: #e4bc6f;
  height: 480px;
  width: 480px;
  margin: auto;
  margin-top: 40px;
}

.boardColor19{
  position: relative;
  background-color: #e4bc6f;
  width: 720px;
  height: 720px;
  margin: auto;
  margin-top: 40px;
}

.playerInfo{
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
  animation: fadeIn 3s 1;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.piece {
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 2;
}

.empty {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  opacity: 0;
  height: 40px;
  width: 40px;
}

.empty:hover {
  opacity: .6;
  cursor: grabbing;
}

.whiteBorder9{
  position: absolute;
  top: -24px;
  left: -24px;
  z-index: 1;
  border: 24px solid #e4bc6f;
  width: 322px;
  height: 322px;
  outline: 1px solid black;
  pointer-events: none;
}

.whiteBorder13{
  position: absolute;
  top: -24px;
  left: -24px;
  z-index: 1;
  border: 24px solid #e4bc6f;
  width: 482px;
  height: 482px;
  outline: 1px solid black;
  pointer-events: none;
}

.whiteBorder19{
  position: absolute;
  top: -24px;
  left: -24px;
  z-index: 1;
  border: 24px solid #e4bc6f;
  width: 722px;
  height: 722px;
  outline: 1px solid black;
  pointer-events: none;
}

.dot{
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 1;
}

.passContainer {
  position: relative;
}

.passButtonWhiteContainer {
  position: absolute;
  overflow: hidden;
  width: 64px;
  animation: colorChangeWhite;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

.passButtonBlack {
  width: 60px;
  height: 30px;
  color: white;
  background-color: #2e2e2e;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  font-size: 1rem;
}

.passButtonWhite {
  width: 60px;
  height: 30px;
  color: black;
  background-color: white;
  border: 1px solid #2e2e2e;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  font-size: 1rem;
}

@keyframes colorChangeBlack{
  0% {
    width: 64px;
  }
  100% {
    width: 0px;
  }
}

@keyframes colorChangeWhite{
  0% {
    width: 64px;
  }
  100% {
    width: 0px;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
